.headline{
    background-color: rgb(248, 241, 231);
    display: flex;
    font-size: 15px;
    font-family: monospace;
    justify-content: center;
    width: 100%;
}

    
.nav-bar{
    position: sticky;
    padding-left: 20px;
    padding-right: 20px;
    top: 0%;
    background-color: white;
}

.categories li a{
    text-decoration: none;
    color: black;

}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    
}



.icons-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}


.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.hero-section{
    width: 100%;
    height: 130vh; 
    overflow: hidden;
    display: inline-block;
    
}

.btn{
    position: absolute;
    padding: 20px 40px; 
    font-size: 18px;
    top: 140%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f6f6;
    color: rgb(19, 18, 18);
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    z-index: 2px;
                
}

.btn:hover {
    color: #696766;
}

.banner img{
    width: 100%;
    
}

.text-overlay {
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 70%;
    left: 50%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    color: rgb(250, 245, 245);
    padding: 10px 20px;
    font-size: 80px;
    border-radius: 5px;
}

.text-overlay-mini{
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 245, 245);
    font-size: 60px;
    white-space: nowrap;
}

.flex{
    
    display: flex;
    width: 100%; 
    height: 100%;
    position: relative;

}

.image-1 .btn{
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 90%;
    left: 50%;
}

.image-1{
    width: 50%;
    display: block;
    overflow: hidden;

}

.image-1 img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.image-2{
    width: 50%;
    overflow: hidden;
}
   
.image-2 img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.image-2 .btn{
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 90%;
    left: 50%;
}


.content-banner{
    background-color: #19975d;
    
}

.content{  
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.content-banner-text{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    color: white;
    
}

.link a{
    size: 14px;
    color: white;
    font-family: sans-serif;

}


.footer-content{
    display: flex;
    width: 100%;

}



.footer {

    background-color: #faf8f6;
    padding: 30px;
    height: 100%;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px;
}

.footer-section-1{
    width: 25%;
}

.footer-section-2{
    width: 25%;
}

.footer-section-3{
    width: 50%;
}

.footer-section-3 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(83, 82, 82);
    font-size: 20px;
    padding-top: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(83, 82, 82);
    display: block;
    padding: 5px 0;
    
}

.contact-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.contact-btn:hover {
    background: rgb(243, 241, 241);
    color: rgb(150, 146, 146);
}

.footer-section-3 .email-box {
    display: flex;
    border: 1px solid black;
    margin-top: 20px;
}

.footer-section-3 input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.footer-section-3 button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    
}

.social-icons {
    margin-top: 10px;
}

.social-icons i {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.payment-icons img {
    width: 40px;
    margin-right: 5px;
    margin-top: 10px;
}

