<nav>
<div class="headline">
            <p>365-day quality guarantee</p>
    </div> 

<div>

<% if (user) { %>
  <div class="account" style="text-align: center;">
    <span>Welcome, <%= user.email %></span>
  </div>
<% } else { %>
  <a href="/login" class="login-btn">Login</a>
<% } %>


    <ul class="navbar">
        <div class="logo">
                <a href="index"><img src="assets/boden-logo-150-v2.svg" alt="logo" width="150px" height="80px"></a>
        </div>


    <div class="categories">
        <!--Mega Menu -->
            <li>
                <a href="#">NEW</a>
                <div class="mega-menu">
                    <div class="mega-content">
                        <div class="mega-column">
                            <h3>WOMEN</h3>
                            <a href="/product">New In: View All</a>
                            <a href="/product">Lookbook: Novel Ideas</a>
                            <a href="/product">Holiday</a>
                            <a href="/product">Linen</a>
                            <a href="/product">British Classics</a>
                        </div>
                        <div class="mega-column">
                            <h3>TRENDING NOW</h3>
                            <a href="product.html">Linen | Meet The Alexa Dress</a>
                            <a href="product.html">Tops | Meet The Felicity Blouse</a>
                            <a href="product.html">The Spring Edit | Florals</a>
                            <a href="product.html">Outfit Inspiration</a>
                            <a href="product.html">International Women's Day | Harriet Walter</a>
                        </div>
                        <div class="mega-column">
                            <h3>MINI BODEN</h3>
                            <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                            <a href="product.html">Mini Holiday Shop</a>
                            <a href="product.html">Girls' New In: View All</a>
                            <a href="product.html">Boys' New In: View All</a>
                            <a href="product.html">Baby New In: View All</a>
                        </div>
                        <div class="mega-column">
                            <img src="assets/Menu-1.webp" alt="Fashion">
                
                        </div>

                        <div class="mega-column">
                            <img src="assets/Flex-2(2).webp" alt="Fashion">
                
                        </div>
                    </div>
                </div>
            </li>


            <li>
                <a href="#">DRESSES</a>
                <div class="mega-menu">
                    <div class="mega-content">
                        <div class="mega-column">
                            <h3>WOMEN</h3>
                            <a href="product.html">New In: View All</a>
                            <a href="product.html">Lookbook: Novel Ideas</a>
                            <a href="product.html">Holiday</a>
                            <a href="product.html">Linen</a>
                            <a href="product.html">British Classics</a>
                        </div>
                        <div class="mega-column">
                            <h3>TRENDING NOW</h3>
                            <a href="product.html">Linen | Meet The Alexa Dress</a>
                            <a href="product.html">Tops | Meet The Felicity Blouse</a>
                            <a href="product.html">The Spring Edit | Florals</a>
                            <a href="product.html">Outfit Inspiration</a>
                            <a href="product.html">International Women's Day | Harriet Walter</a>
                        </div>
                        <div class="mega-column">
                            <h3>MINI BODEN</h3>
                            <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                            <a href="product.html">Mini Holiday Shop</a>
                            <a href="product.html">Girls' New In: View All</a>
                            <a href="product.html">Boys' New In: View All</a>
                            <a href="product.html">Baby New In: View All</a>
                        </div>
                        <div class="mega-column">
                            <img src="assets/menu-2.webp" alt="Fashion">
                
                        </div>

                        <div class="mega-column">
                            <img src="assets/Menu-3.webp" alt="Fashion">
                
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="#">WOMEN</a>
                <div class="mega-menu">
                    <div class="mega-content">
                        <div class="mega-column">
                            <h3>WOMEN</h3>
                            <a href="product.html">New In: View All</a>
                            <a href="product.html">Lookbook: Novel Ideas</a>
                            <a href="product.html">Holiday</a>
                            <a href="product.html">Linen</a>
                            <a href="product.html">British Classics</a>
                        </div>
                        <div class="mega-column">
                            <h3>TRENDING NOW</h3>
                            <a href="product.html">Linen | Meet The Alexa Dress</a>
                            <a href="product.html">Tops | Meet The Felicity Blouse</a>
                            <a href="product.html">The Spring Edit | Florals</a>
                            <a href="product.html">Outfit Inspiration</a>
                            <a href="product.html">International Women's Day | Harriet Walter</a>
                        </div>
                        <div class="mega-column">
                            <h3>MINI BODEN</h3>
                            <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                            <a href="product.html">Mini Holiday Shop</a>
                            <a href="product.html">Girls' New In: View All</a>
                            <a href="product.html">Boys' New In: View All</a>
                            <a href="product.html">Baby New In: View All</a>
                        </div>
                        <div class="mega-column">
                            <h3>MINI BODEN</h3>
                            <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                            <a href="product.html">Mini Holiday Shop</a>
                            <a href="product.html">Girls' New In: View All</a>
                            <a href="product.html">Boys' New In: View All</a>
                            <a href="product.html">Baby New In: View All</a>                
                        </div>

                     
                    </div>
                </div>
            </li>

            <li>
                <a href="#">GIRLS</a>
                <div class="mega-menu">
                    <div class="mega-content">
                        <div class="mega-column">
                            <h3>WOMEN</h3>
                            <a href="product.html">New In: View All</a>
                            <a href="product.html">Lookbook: Novel Ideas</a>
                            <a href="product.html">Holiday</a>
                            <a href="product.html">Linen</a>
                            <a href="product.html">British Classics</a>
                        </div>
                        <div class="mega-column">
                            <h3>TRENDING NOW</h3>
                            <a href="product.html">Linen | Meet The Alexa Dress</a>
                            <a href="product.html">Tops | Meet The Felicity Blouse</a>
                            <a href="product.html">The Spring Edit | Florals</a>
                            <a href="product.html">Outfit Inspiration</a>
                            <a href="product.html">International Women's Day | Harriet Walter</a>
                        </div>
                        <div class="mega-column">
                            <h3>MINI BODEN</h3>
                            <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                            <a href="product.html">Mini Holiday Shop</a>
                            <a href="product.html">Girls' New In: View All</a>
                            <a href="product.html">Boys' New In: View All</a>
                            <a href="product.html">Baby New In: View All</a>
                        </div>
                        <div class="mega-column">
                            <img src="assets/Menu-1.webp" alt="Fashion">
                
                        </div>

                        <div class="mega-column">
                            <img src="assets/Flex-2(2).webp" alt="Fashion">
                
                        </div>
                    </div>
                </div>
            </li>


            <li>
                <a href="#">BOYS</a>
                <div class="mega-menu">
                    <div class="mega-content">
                        <div class="mega-column">
                            <h3>WOMEN</h3>
                            <a href="product.html">New In: View All</a>
                            <a href="product.html">Lookbook: Novel Ideas</a>
                            <a href="product.html">Holiday</a>
                            <a href="product.html">Linen</a>
                            <a href="product.html">British Classics</a>
                        </div>
                        <div class="mega-column">
                            <h3>TRENDING NOW</h3>
                            <a href="product.html">Linen | Meet The Alexa Dress</a>
                            <a href="product.html">Tops | Meet The Felicity Blouse</a>
                            <a href="product.html">The Spring Edit | Florals</a>
                            <a href="product.html">Outfit Inspiration</a>
                            <a href="product.html">International Women's Day | Harriet Walter</a>
                        </div>
                        <div class="mega-column">
                            <h3>MINI BODEN</h3>
                            <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                            <a href="product.html">Mini Holiday Shop</a>
                            <a href="product.html">Girls' New In: View All</a>
                            <a href="product.html">Boys' New In: View All</a>
                            <a href="product.html">Baby New In: View All</a>
                        </div>
                        <div class="mega-column">
                            <img src="assets/Menu-1.webp" alt="Fashion">
                
                        </div>

                        <div class="mega-column">
                            <img src="assets/Flex-2(2).webp" alt="Fashion">
                
                        </div>
                    </div>
                </div>
            </li>

            


            <li>
                <a href="#" style="color: red;">SALE</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div class="mega-column">
                                <h3>WOMEN</h3>
                                <a href="product.html">New In: View All</a>
                                <a href="product.html">Lookbook: Novel Ideas</a>
                                <a href="product.html">Holiday</a>
                                <a href="product.html">Linen</a>
                                <a href="product.html">British Classics</a>
                            </div>
                            <div class="mega-column">
                                <h3>TRENDING NOW</h3>
                                <a href="product.html">Linen | Meet The Alexa Dress</a>
                                <a href="product.html">Tops | Meet The Felicity Blouse</a>
                                <a href="product.html">The Spring Edit | Florals</a>
                                <a href="product.html">Outfit Inspiration</a>
                                <a href="product.html">International Women's Day | Harriet Walter</a>
                            </div>
                            <div class="mega-column">
                                <h3>MINI BODEN</h3>
                                <a href="product.html">Lookbook: Splash-worthy Swimwear</a>
                                <a href="product.html">Mini Holiday Shop</a>
                                <a href="product.html">Girls' New In: View All</a>
                                <a href="product.html">Boys' New In: View All</a>
                                <a href="product.html">Baby New In: View All</a>
                            </div>
                            <div class="mega-column">
                                <img src="assets/Menu-1.webp" alt="Fashion">
                    
                            </div>
    
                            <div class="mega-column">
                                <img src="assets/Flex-2(2).webp" alt="Fashion">
                    
                            </div>
                        </div>
                    </div>
                </li>

    </div>

    <div class="icons-right"> 
            <i class="fa-solid fa-magnifying-glass"></i>
<li class="user-menu">
  <i class="fa-solid fa-user" id="userIcon"></i>
  <div class="dropdown" id="userDropdown">
    <% if (user) { %>
      <p class="email-text"><%= user.email %></p>
      <a href="/logout" class="dropdown-link">Logout</a>
    <% } else { %>
      <a href="/login" class="dropdown-link">Login</a>
      <a href="/register" class="dropdown-link">Register</a>
    <% } %>
  </div>
</li>
            <div id="login-form" style="display:none;">

</div><a href="/cart" class="cart-icon position-relative">
  <i class="fa-solid fa-bag-shopping"></i>
  <% if (cart && cart.totalQty > 0) { %>
    <span class="cart-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      <%= cart.totalQty %>
    </span>
  <% } %>
</a>

    </div>    
    </ul> 

</nav>